@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
:root {
  --sm-size: 10px;
  --sma-size: 20px;
  --med-size: 50px;
  --med-weight: 500;
  --lg-size: 200px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  display: inline-block;
  border: 4px rgb(41, 50, 65) solid;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0;
  font-weight: 700;
  text-decoration: none;
  background: rgba(236, 249, 250, 0.295);
  color: black;
  cursor: pointer;
  text-align: center;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

button:hover {
  background: rgba(231, 231, 231, 0.603);
  color: rgb(36, 48, 85);
  border: 4px #ee6d4d9c solid;
  opacity: 8;
}
.background {
  position: fixed;
}
.pro-contain {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  text-align: center;
  padding-top: var(--sma-size);
}
.title {
  font-family: "Courgette", cursive;
  font-size: var(--med-size);
  font-weight: var(--med-weight);
  padding: 15px 0 15px 0;
}
.title:hover {
  color: #ff6565;
}
.btn {
  margin: var(--med-size);
  font-family: "Fugaz One", cursive;
  font-weight: var(--med-weight);
  padding: 0px;
  font-size: var(--sma-size);
  border-radius: 5px;
}
.btn:hover {
  background-color: rgba(65, 230, 106, 0.932);
}
.img {
  width: var(--lg-size);
  height: var(--lg-size);
  display: block;
}

.img-bg {
  opacity: 0.6;
}

/*Library*/
header {
  background-color: rgb(233, 209, 193);
  padding: var(--sm -size);
  box-shadow: 0 0 6px 0 black;
  text-align: center;
}
.lib {
  text-align: center;
  color: #0c2250;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fixed {
  position: fixed;
}
.new {
  position: relative;
  padding: 10px 20px 10px 20px;
  margin-top: var(--sma-size);
  margin-bottom: var(--sma-size);
  font-size: var(--sma-size);
}
.table {
  width: 1000px;
  position: relative;
  margin-top: var(--sm-size);
}

table {
  width: 100%;
  background-color: #36382c;
  color: #f8f8f2;
  border-spacing: 0;
  border-bottom: 5px solid #272822;
  font-family: "Courgette", cursive;
}

th {
  padding: 10px 10px;
}

td {
  padding: 10px;
  text-align: center;
}

tbody {
  background-color: #fefefe;
  color: #424242;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: var(--lg-size);
  background-color: #1657e4b0;
  padding: var(--sm-size);
  border-radius: var(--sma-size);
  font-family: "Tenor Sans", sans-serif;
  font-size: var(--sma-size);
}

fieldset label {
  margin-left: 1em;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

.button-group {
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  margin: 10px 0;
  padding: var(--sm-size);
  border-radius: var(--sma-size);
  font-family: "Tenor Sans", sans-serif;
  font-size: var(--sma-size);
}

.errorInput {
  border: 2px solid #d5001f;
}

.errorText {
  color: #d5001f;
}
.btnForm {
  font-family: "Tenor Sans", sans-serif;
  padding: var(--sm-size);
  font-size: calc(var(--sma-size) * 0.7);
  border-radius: 5px;
  cursor: pointer;
}
.btnForm:hover {
  background-color: #53ce53b0;
}

/*Tic tac toe */
#playCtn {
  position: relative;
}

.btn-ctn-play {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: var(--med-size);

}

.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 1em;
}

.box-ctn {
  display: none;
  justify-content: center;
  border-collapse: collapse;
  font-size: 2rem;
  font-weight: var(--med-weight);
  width: 20em;
  height: 50%;
  margin: 0 auto;
  margin-bottom: 1em;
  background-color: transparent;
  border-bottom: none;
}

table tr {
  font-size: 1.5rem;
  padding: 1.5em;
}

td {
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}

.box {
  border: 10px rgb(226, 226, 226) solid;
  color: white;
  width: 1.5em;
  height: 1.5em;
  font-size: 5rem;
  text-align: center;
  cursor: default;

}

table tr:first-child td {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr td:last-child {
  border-right: 0;
}

.win-display {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 900;
  color: rgb(36, 48, 85);
  font-family: "Tenor Sans", sans-serif;
}

.btn-ctn {
  display: flex;
  justify-content: center;
  margin: 3em;

}

.replay-btn {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0.5em;
}

.back-btn {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 0.5em;
}

/*To do list */
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(169, 92, 54, 0.49);
  overflow-x: hidden;
  text-align: center;
}
.proj-ctn {
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: fit-content;
  background-color: #4376e2b9;
  border-bottom: #000000 1px solid;
  margin-bottom: 20px;
}
.proj-ctn button {
  font-size: 25px;
  color: white;
  display: block;
  margin: 10px;
  width: 80%;
  font-family: "Tenor Sans", sans-serif;
  background-color: #223f7fd9;
}

.proj-ctn button:hover {
  color: white;
}
.proj-ctn button:focus  {
  color: #612d2d;
  background-color: #90f375c5;
}
.proj-ctn button:last-child {
  margin-bottom: 50px;
}
.main {
  /* margin-left: 160px; */
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  /* padding: 0px 10px; */
  width: 100%;
  margin-top: var(--med-size);
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.addTodo {
  margin: 0 auto;
  font: var(--sm-size);
  display: block;
  background-color: rgba(107, 187, 237, 0.924);
  position: relative;
  margin-top: var(--med-size);
  margin-bottom: 40px;
}
.proj-name {
  font-size: 20px;
  display: block;
  width: 100%;
}
.proj-add button {
  margin: 10px;
  padding: 5px 10px 5px 10px;
  background-color: lightgoldenrodyellow;
}
.task-ctn {
  height: fit-content;
  width: 60%;
  display: flex;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  position: relative;
  border-radius: 10px;
}
.high {
  background-color: rgba(216, 59, 59, 0.527);
}
.medium {
  background-color: rgba(101, 216, 59, 0.527);
}
.low {
  background-color: rgba(59, 130, 216, 0.527);
}
.task-ctn h3 {
  font-family:"Tenor Sans", sans-serif;
  padding-right: var(--sma-size);
  padding-left: var(--sma-size);
}
.task-ctn p {
  font-size: 25px;
  width: 40%;
}
.task-ctn button {
  margin-left: 20px ;
  background-color: lightseagreen;
}
.formTask {
  flex-direction: column;
  position: relative;
  margin-top: var(--lg-size);
  background-color: rgba(107, 187, 237, 0.924);
  padding: var(--sm-size);
  border-radius: var(--sma-size);
  font-family: "Tenor Sans", sans-serif;
  font-size: var(--sma-size);
  width: 20%;
  margin: 0 auto;
  height: fit-content;
  border: #000000 2px solid;
} 
.show {
  display: flex;
}